.cont-list {
  @include make-flex();
}

@media (max-width: $max-mobl-width) {
  .cont-list {
    @include make-flex-col();
  }
}

@media (max-width: $max-mobl-width) {
  .cont-list__call-item {
    width: inherit;
    margin-bottom: 19px;
  }

  .cont-list__write-item {
    width: inherit;
    margin-bottom: 22px;
  }

  .cont-list__come-item {
    width: inherit;
    margin-bottom: 19px;
  }
}

.cont-list__artcl {
  @include make-flex();
  @include make-flex-col();
  @include make-algn-cntr();
}

.cont-list__h2 {
  margin-top: 0;
}

@media (max-width: $max-mobl-width) {
  .cont-list__h2 {
    margin-bottom: 34px;
  }
}

.cont-list__h3 {
  width: 199px;
  margin-top: 0;
}

@media (max-width: $max-mobl-width) {
  .cont-list__h3 {
    margin-bottom: 3px;
  }

  .cont-list__call-item .cont-list__h3 {
    margin-bottom: 1px;
  }
}

.cont-list__p {
  width: 241px;
  margin-top: 0;
  margin-bottom: 2px;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $lipstick;
}
