.page-hdr {
  background-color: $dark;
  background-position: center top;
  background-repeat: no-repeat;
}

@media (max-width: 320px) {
  .page-hdr {
    background-size: 320px auto;
  }
}

@media (max-width: 320px) and (max-resolution: $usual-dppx) ,
       (max-width: 320px) and (max-resolution: $usual-dpi) {
  .page-hdr {
    background-image: url("../img/bg-back-mobile@1x.jpg");
  }
}

@media (max-width: 320px) and (min-resolution: $retn-dpi) ,
       (max-width: 320px) and (min-resolution: $retn-dppx) {
  .page-hdr {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: 321px) and (max-width: $max-tablt-width) {
  .page-hdr {
    background-size: 1200px auto;
  }
}

@media (min-width: 321px) and (max-width: $max-tablt-width) and (max-resolution: $usual-dppx) ,
       (min-width: 321px) and (max-width: $max-tablt-width) and (max-resolution: $usual-dpi) {
  .page-hdr {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}

@media (min-width: 321px) and (max-width: $max-tablt-width) and (min-resolution: $retn-dppx) ,
       (min-width: 321px) and (max-width: $max-tablt-width) and (min-resolution: $retn-dpi) {
  .page-hdr {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }
}

@media (min-width: $tablt-width) {
  .page-hdr {
    min-height: 110px;
  }
}

@media (min-width: $deskt-width) {
  .page-hdr {
    background-size: 2560px auto;
  }
}

@media (min-width: $deskt-width) and (max-resolution: $usual-dppx) ,
       (min-width: $deskt-width) and (max-resolution: $usual-dpi) {
  .page-hdr {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}

@media (min-width: $deskt-width) and (min-resolution: $retn-dppx) ,
       (min-width: $deskt-width) and (min-resolution: $retn-dpi) {
  .page-hdr {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}

@media (min-width: 2561px){
  .page-hdr {
    background-size: 5120px auto;
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}

@media (min-width: 5121px) {
  .page-hdr {
    background-size: 5400px auto;
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}

@media (min-width: $deskt-width) {
  .page-hdr__cntr-wrap {
    width: 940px;
    @include make-cntr();
  }
}

@media (min-width: $deskt-width) {
  .page-hdr__tint-wrap {
    padding-top: 25px;
    padding-bottom: 11px;

    background-color: rgba($black, 0.3);
  }
}
